/* BACKGROUND COVER */

.background-image {
  background: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?cs=srgb&dl=pexels-lumn-167699.jpg&fm=jpg")
    no-repeat center bottom fixed;
  position: relative;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.background-image::before {
  content: "";
  display: block;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
    to right,
    #0f2027 25%,
    #203a43 50%,
    #2c5364
  );
  opacity: 0.4;
}

/* AUTHOR DESCRIPTION */

.author-wrapper {
  position: absolute;
  top: 180px;
  display: flex;
  width: 900px;
}

.author-image-wrapper {
  background: #042a3666 url("./img/dmitriy.png") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: solid 4px #d7d7d7fc;
  border-radius: 50%;
}

.author-description-wrapper {
  padding-left: 20px;
}

.author-name {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 20px;
}

.author-skills {
  font-size: 1.8rem;
  color: #d7d7d7fc;
  margin: 0;
}

.author-skills span {
  color: #fcad1a;
}
